body {
    font-family: sans-serif;
}

ul {
    padding: 0;
}

input {
    width: 100%;
}

.container {
    margin: auto;
    width: 400px;
}

#heading_area {
    height:10%;
}

#msg_area {
    height: 80vh;
    overflow-y: scroll;
}

.message {
    display: block;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

.usermsg {
    background-color: antiquewhite;
    color: dimgray;
    float: right;
}

.botmsg {
    background-color: deeppink;
    color: white;
    float: left;
}

